<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{% block title %}GBin | Dashboard{% endblock %}</title>
	<link rel="shortcut icon" href="{% static 'appearances/default/site/image/favicon/favicon.ico' %}" type="image/x-icon">
	<link href="{% static 'appearances/default/panel/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'appearances/default/panel/css/sb-admin.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body id="page-top">
{% include 'appearances/default/panel/widgets/nav_bar_header.html'%}
<div id="wrapper">
	{% include 'appearances/default/panel/widgets/nav_bar_side.html'%}
	{% block content %}{% endblock %}
</div>
{% include 'appearances/default/panel/widgets/footer.html'%}
<a class="scroll-to-top rounded" href="#page-top">
	<i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">کجا آقاجان؟ بودی حالا؟‌:)</div>
			<div class="modal-footer">
				<a class="btn btn-danger" style="width:120px; color:#fff" data-dismiss="modal">باشه :))</a>
				<a class="btn btn-primary" href="{% url 'logout-user' %}">ولم کن می‌خوام برم :|</a>
			</div>
		</div>
	</div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'appearances/default/panel/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'appearances/default/panel/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'appearances/default/panel/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Page level plugin JavaScript-->
<script src="{% static 'appearances/default/panel/vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'appearances/default/panel/vendor/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'appearances/default/panel/vendor/datatables/dataTables.bootstrap4.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'appearances/default/panel/js/sb-admin.min.js' %}"></script>

<!-- <script>
function myFunction() {
var copyText = document.getElementById("myInput");
copyText.select();
document.execCommand("copy");

var tooltip = document.getElementById("myTooltip");
tooltip.innerHTML = "Copied: " + copyText.value;
}

function outFunc() {
var tooltip = document.getElementById("myTooltip");
tooltip.innerHTML = "Copy to clipboard";
}
</script> -->
<script>
  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }
</script>
</body>
</html>