{% extends 'appearances/default/panel/base.html' %}
{% load staticfiles %}

{% block content %}
<div id="content-wrapper">
	<div class="container-fluid">
		<!-- Icon Cards-->
		<div class="row">
			<div class="col-xl-3 col-sm-6 mb-3">
				<div class="card text-white bg-g-red o-hidden h-100">
					<div class="card-body">
						<div class="card-body-icon">
							<i class="fas fa-users"></i>
						</div>
						<div class="font-18 mr-5">حامیان مالی شما</div>
					</div>
					<a class="card-footer text-white clearfix small z-1" href="#">
						<span class="alert-link font-18">{{donations.count}} نفر</span>

					</a>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 mb-3">
				<div class="card text-white bg-g-red o-hidden h-100">
					<div class="card-body">
						<div class="card-body-icon">
							<i class="fas fa-bullseye"></i>
						</div>
						<div class="font-18 mr-5">تعداد هدف‌های شما</div>
					</div>
					<a class="card-footer text-white clearfix small z-1" href="#">
						<span class="alert-link font-20">{{targets.count}} هدف</span>
					</a>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 mb-3">
				<div class="card text-white bg-g-red o-hidden h-100">
					<div class="card-body">
						<div class="card-body-icon">
							<i class="fas fa-coins"></i>
						</div>
						<div class="font-18 mr-5">مقدار حمایت دریافتی</div>
					</div>
					<a class="card-footer text-white clearfix small z-1" href="#">
						<span class="alert-link font-20">{{total_donations}} تومان</span>
					</a>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6 mb-3">
				<div class="card text-white bg-g-red o-hidden h-100">
					<div class="card-body">
						<div class="card-body-icon">
							<i class="fas fa-cash-register"></i>
						</div>
						<div class="font-18 mr-5">مبلغ تسویه شده</div>
					</div>
					<a class="card-footer text-white clearfix small z-1" href="#">
						<span class="alert-link font-20">{{total_settles}} تومان</span>
					</a>
				</div>
			</div>
		</div>
		<div class="row pt-2">
			<div class="col-xl-6 col-sm-6 col-md-6 mb-2">
				<div class="target-box mr-fit-sm">
					<div class="text-justify">
						<h5 class="font-18">لینک درگاه اختصاصی شما</h5>
						<p class="cl-red form-control payment-link f-14" id="p1">{{request.user.profile.gateway}}</p>
						<button class="mt-37 btn-red c-point" style="border-radius:15px;" onclick="copyToClipboard('#p1')">
							<i class="fas fa-copy fa-2x-copy"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-sm-6 col-md-6">
				<div class="target-box mr-fit-sm">
					<div class="text-justify">
						<h5 class="font-18">شما می‌توانید برای دریافت حمایت مالی از اینجا هدف تعریف کنید</h5>
						<a href="{% url 'target-create' %}" class="btn btn-primary btn-feature btn-red btn-Create btn-Create-firstp float-right">ایجاد هدف جدید</a>
					</div>
				</div>
			</div>
		</div>

		<!-- DataTables Example -->
		<div class="card mb-3">
			<div class="card-header">
				<i class="fas fa-table cl-red"></i>
				<span class="font-18">جزییات  حمایت های مرتبط با آخرین هدف  شما
            </span>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" width="100%" cellspacing="0">
						<thead>
						<tr>
							<th>نام کاربر</th>
							<th>زمان پرداخت</th>
							<th>مبلغ حمایت</th>
						</tr>
						</thead>
						<!--<tfoot>-->
						<!--<tr>-->
							<!--<th>نام کاربر</th>-->
							<!--<th>زمان پرداخت</th>-->
							<!--<th>مبلغ حمایت</th>-->
						<!--</tr>-->
						<!--</tfoot>-->
						<tbody>
						{% for donation in donations %}
						<tr>
							<td>{{donation.donor_name}}</td>
							<td>{{donation.jalali_created_time}}</td>
							<td>{{donation.amount}}</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<!--<nav aria-label="Page navigation example">-->
				<!--<ul class="pagination justify-content-center">-->
					<!--<li class="page-item disabled">-->
						<!--<a class="page-link" href="#" tabindex="-1">Previous</a>-->
					<!--</li>-->
					<!--<li class="page-item"><a class="page-link" href="#">1</a></li>-->
					<!--<li class="page-item"><a class="page-link" href="#">2</a></li>-->
					<!--<li class="page-item"><a class="page-link" href="#">3</a></li>-->
					<!--<li class="page-item">-->
						<!--<a class="page-link" href="#">Next</a>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</nav>-->
			<!--<div class="card-footer small text-muted">آخرین به روز رسانی امروز ساعت 15:00</div>-->
		</div>

	</div>
</div>
<!-- /.container-fluid -->
{% endblock %}