{% extends 'appearances/default/panel/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container pt-5">
	<div class="center-block">
		<div class="avatar-upload">
			<div class="avatar-edit">
				<input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"/>
				<label for="imageUpload"></label>
			</div>
			<div class="avatar-preview">
				<div id="imagePreview" style="background-image: url(image/1.jpg);">
				</div>
			</div>
		</div>
	</div>
	<form class="center-block pt-4">
		<div class="form-group mr-30">
			<input type="target" class="form-control form-fs" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="نام و نام خانوادگی">
		</div>
		<div class="form-group mr-30">
			<lable type="username" class="cl-red form-control form-fs" style="font-weight:bold;" id="exampleInputEmail1" aria-describedby="emailHelp">نام کاربری یکتای شما</lable>
		</div>
		<div class="form-group mr-30">
			<input type="mobile" class="form-control form-fs" id="exampleInputPassword1" placeholder="شماره موبایل">
		</div>
		<div class="form-group mr-30">
			<input type="email" class="form-control form-fs" id="exampleInputPassword1" placeholder="ایمیل">
		</div>
		<div class="form-group mr-45 pt-4">
			<a href="register-2.html" type="submit" class="btn btn-primary btn-feature btn-red">ذخیره تغییرات</a>
		</div>
	</form>
</div>
{% endblock %}