{% extends 'appearances/default/panel/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container pt-5">
	<h4 class="text-center">تعریف هدف جدید برای دریافت حمایت مالی</h4>
	<a href="{% url 'target-list' %}" type="submit" class="btn btn-primary btn-feature btn-list-target">مشاهده همه اهداف</a>
	<form method="POST" class="center-block pt-4">
		{% csrf_token %}
		<div class="form-group mr-30">
			<input name="title" type="text" class="form-control f-14 form-fs" aria-describedby="emailHelp" placeholder="هدف خود را مشخص کنید">
		</div>
		<div class="form-group mr-30">
			<input name="amount" type="number" class="form-control f-14 form-fs" aria-describedby="emailHelp" placeholder="مبلغ مورد نیاز را به تومان وارد کنید">
		</div>
		<div class="form-group mr-30">
			<input name="description" type="text" class="form-control form-fs f-14 h-50p" placeholder="توضیحات">
		</div>
		<div class="form-group mr-30">
			<input name="donation_message" type="text" class="form-control form-fs f-14 h-50p" placeholder="بعد از دریافت حمایت مالی، این پیام را نشان دهد.">
		</div>
		<div class="form-check">
			<input name="status" type="checkbox" class="form-check-input mr-30" valud="5" id="exampleCheck1">
			<label class="form-check-label mr-33" for="exampleCheck1">به عنوان هدف فعال باشد</label>
			<p class="cl-red mr-33">شما نمی‌توانید به صورت همزمان بیش از یک هدف فعال داشته باشید.</p>
		</div>
		<div class="form-group mr-45 pt-4">
			<button type="submit" class="btn btn-primary btn-feature btn-red">ثبت در درگاه پرداخت</button>
		</div>
	</form>
</div>
{% endblock %}