{% extends 'appearances/default/panel/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
	<p>
		<a href="{% url 'target-create' %}" class="btn btn-primary btn-feature btn-red btn-Create float-right">ایجاد هدف جدید</a>
		<span class="note-pos text-center"><i class="fas fa-exclamation-circle cl-red pl-2"></i>نکته : به صورت همزمان فقط یک هدف فعال می‌توانید داشته باشید.</span>
	</p>

</div>
<div class="container mr-fit-md">
	<br><br><br><br>
	<div class="row pt-2">
		{% for target in targets %}
		<div class="col-md-6 col-xl-6 mb-2">
			<div class="{% ifequal target.status 5 %}target-box{% else %}target-box-inactive{% endifequal %}">
				<div class="text-justify">
					<div class="custom-control custom-switch float-left">
						<input type="checkbox" class="custom-control-input" id="customSwitches{{target.id}}">
						<label class="custom-control-label" for="customSwitches{{target.id}}"></label>
					</div>
					<p class="font-18"> هدف : <span class="w-b">{{target.title}}</span></p>
					<div class="progress">
						<div class="progress-bar float-right {% ifequal target.status 10 %}cl-gr-gray{% else %}cl-gr-red{% endifequal %}" style="width:{{target.percentage}}%">{{target.percentage}}%</div>
					</div>
					<p class="f-14 text-center">{{target.total_paid}} تومان از {{target.amount}} تومان</p>
					<p class="font-18">تاریخ شروع: <span class="w-b">{{target.jalali_created_time}}</span></p>
					<p class="font-18">وضعیت کمپین: <span class="w-b">
                <a href="#">
                  <lable type="username" class="cl-red form-control payment-port f-14" id="exampleInputEmail1" aria-describedby="emailHelp">{{target.get_status_display}} </lable>
                </a></span></p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}