{% extends 'appearances/default/panel/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
	<div class="mt-5 text-center">
		<p>منتظر ویجت‌های جذاب و خلاق ما باشید ، استریم‌های شما دیدنی تر می‌شوند</p>
		<p class="cl-red w-b">به زودی...</p>
	</div>
</div>
{% endblock %}