<footer class="sticky-footer">
	<div class="container my-auto">
		<div class="copyright text-center my-auto">
			<span class="cl-white font-18">تمام حقوق این سایت متعلق به <a href="#" class="cl-red">"  gbin.ir  "</a> است.</span>
		</div>
	</div>
</footer>
