{% load staticfiles %}
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
	<button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
		<i class="fas fa-bars"></i>
	</button>
	<a class="navbar-brand mr-1" href="{% url 'dashboard' %}"><img src="{% static 'appearances/default/panel/image/logo-fa.png' %}" alt="" class="img-responsive btn-logo-size"></a>
	<!-- Navbar Search -->
	<form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
	</form>

	<!-- Navbar -->
	<ul class="navbar-nav ml-auto ml-md-0">
		<li class="nav-item dropdown no-arrow">
			<a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-user-circle fa-fw fa-2x"></i>
				<p class="p-hello">{{request.user.username}}</p>
			</a>
			<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
				<a class="dropdown-item" href="{% url 'edit-profile'%}" >تنظیمات</a>
				<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">خروج</a>
			</div>
		</li>
	</ul>

</nav>