<!-- Sidebar -->
<ul class="sidebar navbar-nav">
	<li class="nav-item active">
		<a class="nav-link" href="{% url 'dashboard' %}" style="margin-right:-5px;">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>داشبورد</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'target-list' %}" style="margin-right:-5px;">
			<i class="fas fa-bullseye"></i>
			<span>هدف</span>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'widget' %}" style="margin-right:-5px;">
			<i class="far fa-object-group"></i>
			<span>ویجت‌ها</span>
		</a>
	</li>
	<!--<li class="nav-item">-->
		<!--<a class="nav-link" href="finance.html" style="margin-right:-5px;">-->
			<!--<i class="fas fa-coins"></i>-->
			<!--<span>مالی</span></a>-->
	<!--</li>-->
	<!--<li class="nav-item">-->
		<!--<a class="nav-link" href="setting.html" style="margin-right:-5px;">-->
			<!--<i class="fas fa-cog"></i>-->
			<!--<span>تنظیمات</span></a>-->
	<!--</li>-->
	<!--{% if not user.profile.confirmed %}-->
		<!--<li class="nav-item">-->
			<!--<a class="nav-link" href="#" style="margin-right:-5px;">-->
				<!--<i class="far fa-object-group"></i>-->
				<!--<span>ایمیل خود را تایید کنید.</span>-->
			<!--</a>-->
		<!--</li>-->
	<!--{% endif %}-->
		<!--{% if not user.profile.confirmed %}-->
		<!--<li class="nav-item">-->
			<!--<a class="nav-link" href="#" style="margin-right:-5px;">-->
				<!--<i class="far fa-object-group"></i>-->
				<!--<span>اطلاعات مالی خود را تکمیل کنید.</span>-->
			<!--</a>-->
		<!--</li>-->
	<!--{% endif %}-->
</ul>