@font-face {
  font-family: myfont;
  src: url("../font/Vazir.ttf");
}
body{
  padding-top: 20px;
  direction: rtl;
  font-family: myfont;
  background-image: url(../image/back-image.jpg);
}

.nav-top{
  padding: 5px 30px;
}
.img-feature{
  width: 155px;
  height: auto;
  float: right;
}
.img-feature-p{
  width: 100px;
  height: auto;
}
.ml-10{
  margin-left:10px;
}
.ml-30{
  margin-left:30px;
}
.f-left{
  float: left;
}
.f-right{
  float: right;
}
.btn-feature{
  padding: 1px 10px;
  border-radius: 20px;
  width: 160px;
  font-size: 20px;
  box-shadow: 8px 8px 10px #000;
}
.help-btn{
  padding: 1px 10px;
  border-radius: 20px;
  width: auto;
  font-size: 20px;
  box-shadow: 8px 8px 10px #000;
  border-radius: 30px;
}
.help-btn:hover{
  background: #4d2222;
  color: #fff;
  border: 3px solid #796464;
}
.btn-feature:hover{
  background: #4d2222;
  color: #fff;
  border: 3px solid #796464;
}
.btn-red{
  color: #fff;
  background: #ee0505;
  border: 3px solid #ee0505;
}
.btn-dark{
  color: #fff;
  border: 3px solid #ee0505;
  background: #2a2929;
}
.btn-border{
    color: #fff;
    border: 3px solid #ee0505;
    background: none;
    margin-top: 10px;
}
.pt-15{
  padding-top: 15px;
}
.pb-15{
  padding-bottom: 15px;
}
.pb-25{
  padding-bottom: 25px;
}
.mt-15{
  margin-top: 15px;
}
.mt-10{
  margin-top: 10px;
}
.mt-30{
  margin-top: 30px;
}
.w-b{
  font-weight: bold;
}
.div-banner{
  border-radius: 10px;
  border: 3px solid #ee0505;
}
.banner{
  width: 1134px;
  height: auto;
}
.text-block {
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0px;
  right: 20px;
  margin: 0 3% 5% 0;
  background-color: black;
  color: white;
  border-radius: 15px;
  opacity: 0.5;
  box-shadow: 10px 10px 10px 10px #000;
}
.f-28{
  font-size: 28px;
}
.f-20{
  font-size: 20px;
}
.f-13{
  font-size: 13px;
  opacity: 0.5;
}
.text-image{
  position: absolute;
  bottom: 30%;
  right: 7%;;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.text-image > a{
  color: #fff;
}
.h5h >a{
  color:#fff;
}
.h5h :hover{
  color: #ee0505;
  text-decoration: none;
}
.btn-ban{
  padding: 3px 10px;
  border-radius: 20px;
  width: 250px;
  font-size: 20px;
  margin-top:60px;
  box-shadow: 8px 8px 10px #000;
}
.btn-ban:hover{
  background: #4d2222;
  color: #fff;
  border: 3px solid #796464;
}
.center-block{
  float: none;
}
.do-text{
  color: #fff;
  padding: 40px 70px 20px 70px;
  font-size: 18px;
}
.do-text > p , .do-text > div > p{
  text-align: justify;
}

.do-text > h2{
  text-align: center;
}
.sub-red{
  color: #ee0505;
  text-align: center;
}
.footer{
  border: 3px solid #ee0505;
  border-radius: 15px;
  min-height: 70px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}
.lst-ul{
  list-style: none;
  margin-left: 0px;
}
.footer-lst{
  float: right;
  margin: 3px 5px;
}
.lst-ul > .footer-lst :hover{
  color: #ee0505;
  text-decoration: none;
}
.social-lst{
  float: left;
  margin: 3px 10px;
}
.social-lst :hover{
  color: #ee0505;
}
.ma-fo{
  margin: 3px 17px;
}

.lst-ul > .footer-lst > a{
  color: #fff;
}
.endtype{
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}
.pl-65{
  padding-left: 65px;
}
.cl-red{
  color: #ee0505;
}
.tar{
  text-align: center;
}
.sub-bcl-red{
  color: #fff;
  text-align: center;
}
.hr-red{
  border: none;
  border-bottom:  2px solid #ee0505;
  width: 30%;
}
/***********register****************/
.inner-reg{
  border: 3px solid #ee0505;
  border-radius: 15px;
  padding: 8px 10%;
  box-shadow: -12px 12px 20px #1b1212;
  min-height: 510px;
  height: auto;
  margin-top:-55px;
}
.inner-reg-cl{
    color: #fff;
}
.inner-reg > h3{
  text-align: center;
}
.form-control{
  border-radius: 15px;
}
.log-cl{
  color: #fff;
  text-align: center;
  font-size:18px;
  cursor:pointer;
}
.pay-pos{
  margin-bottom: 10px;
  margin-top:12px;
}
.mt-50{
  margin-top: 50px;
}
.mt-45{
  margin-top: 45px;
}
.pb-40{
  padding-bottom: 40px;
}
.fgt-pass{
  color: #fff;
  font-size:12px;
  padding-right: 15px;
  cursor:pointer;
}
.sp20{
  padding: 20px;
}
.sp10{
  padding: 10px;
}
/************************/
.avatar-upload {
  position: relative;
  max-width: 150px;
  margin: 10px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ee0505;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  border-color: #796464;
  background: #4d2222;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f304";
  font-family: 'FontAwesome';
  color: #fff;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-upload .avatar-preview {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #ee0505;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cl-title-o{
  color: #fff;
  text-shadow: 6px 2px 10px #ee0505;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -15px;
}
.cl-title{
  color: #fff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: -15px;
}
.cl-00{
  color: #000;
}
.cl-ff{
  color: #fff;
}
.cl-title-p{
  color: #696969;
  text-shadow: 6px 2px 10px #ee0505;
  margin-top: 20px;
}
.sha-lg{
  width: 50%;
  height: auto;
  box-shadow: 1px 1px 7px #ee0505;
  border-radius: 15px;
}
.pay-info{
  margin-top: 10px;
}
.mr-30{
  margin-right: 30px;
}
.border-re{
  border: 4px solid #ee0505;
}
.cl-gr-red{
  background-image: linear-gradient(to bottom right, #690505, #ee0505);
}
.negative-p{
  padding-right: -15px;
  padding-left: -15px;
}
.btn-list{
  float: left;
  margin-top: -43px;
  border-radius: 20px;
  border: 3px solid #ee0505;
  background: #fff;
  color: #000;
}
.btn-list:hover{
  background: #4d2222;
  color: #fff;
  border: 3px solid #796464;
}
/***************************/
@media (max-width : 768px) {
  .btn-feature{
    width: 110px;
    font-size: 18px;
  }
  .text-image{
    position: absolute;
    bottom: 10%;
    right: 7%;;
    color: #fff;
  }
  .btn-ban{
    padding: 1px 3px;
    border-radius: 15px;
    width: 100px;
    font-size: 10px;
    margin-top: 5px;
  }
.text-image > p , h5{
  font-size: 7px;
  text-align: center;
}
.do-text{
  padding: 40px 30px;
  font-size: 15px;
}
.footer{
  min-height: 250px;
  height: auto;
  padding-left: 20px;
}
.footer-phone-p{
  min-height: 140px;
  height: auto;
  border: none;
  padding-left: 20px;
}
.lst-ul-item{
  margin-left: 50px;
}
.cl-red{
  text-align: center;
}

h3{
  font-size: 16px;
}
.hr-red{
  width: 70%;
}
.mt-50{
  margin-top: 5px;
}
.avatar-upload .avatar-preview {
  width: 95px;
  height: 95px;
}
.avatar-upload {
  max-width: 95px;
}
.avatar-upload .avatar-edit {
  right: 2px;
  top: 2px;
}
.inner-reg{
  min-height: 460px;
  margin-top:-15px;
}
.pay-info{
  padding: 0px;
}
.btn-list{
  font-size: 10px;
}


}
