<div class="row container">
	<div class="footer">
		<div class="col-md-5 col-xs-12 col-sm-12 mt-10 pl-65">
			<ul class="lst-ul">
				<li class="social-lst"><a href="#"><i class="fab fa-facebook-f fa-3x cl-ff"></i></a></li>
				<li class="social-lst"><a href="#"><i class="fab fa-twitter fa-3x cl-ff"></i></a></li>
				<li class="social-lst"><a href="#"><i class="fab fa-telegram-plane fa-3x cl-ff"></i></a></li>
				<li class="social-lst"><a href="#"><i class="fab fa-instagram fa-3x cl-ff"></i></a></li>
			</ul>
		</div>
		<div class="col-md-1 col-xs-12 col-sm-12"></div>
		<div class="col-md-6 col-xs-12 col-sm-12 mt-15">
			<ul class="lst-ul lst-ul-item">
				<li class="footer-lst ma-fo"><a href="#">راهنمای جیبین</a></li>
				<li class="footer-lst ma-fo"><a href="#">قوانین و مقررات</a></li>
				<li class="footer-lst ma-fo"><a href="#">شرایط استفاده</a></li>
				<li class="footer-lst ma-fo"><a href="#">تماس با پشتیبانی</a></li>
			</ul>
		</div>
	</div>
</div>
<p class="endtype"> تمامی حقوق این سایت متعلق به تیم جیبین می‌باشد.</p>
