{% load staticfiles %}
<div class="row">
	<div class="nav-top">
		<div class="col-md-6 col-xs-12 col-sm-12 pt-15 pb-15">
			<a href="{% url 'login-user' %}" class="btn btn-default btn-feature btn-dark f-left" type="submit">ورود</a>
			<a href="{% url 'register-user' %}" class="btn btn-default btn-feature btn-red f-left ml-10" type="submit">ثبت نام</a>
		</div>
		<div class="col-md-6 col-xs-12 col-sm-12">
			<img src="{% static 'appearances/default/site/image/logo-fa.png' %}" alt="game stream" class="img-responsive img-feature">
		</div>
	</div>
</div>