{% extends 'appearances/default/site/base.html' %}
{% load staticfiles %}

{% block container %}
<div class="container">
	<div class="row mt-50">
		<div class="col-md-3"></div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="inner-reg inner-reg-cl">
				<img src="{% static 'appearances/default/site/image/logo-fa.png' %}" alt="gbin" class="img-responsive center-block sha-lg">
				<h4 class="cl-title-o pb-15">تکمیل اطلاعات ثبت نام</h4>
				<form method="POST" action="">
					{% csrf_token %}
					<!--------------------->
					<div class="center-block">
						<div class="avatar-upload">
							<div class="avatar-edit">
								<input name="avatar" type='file' id="imageUpload" accept=".png, .jpg, .jpeg"/>
								<label for="imageUpload"></label>
							</div>
							<div class="avatar-preview">
								<div id="imagePreview" style="background-image: url({% static 'appearances/default/site/image/55.jpg' %});"></div>
							</div>
						</div>
					</div>
					<!--------------------->
					<div class="form-group">
						<input name="terminal" type="text" class="form-control" id="exampleInputUsername1" aria-describedby="emailHelp" placeholder="شماره درگاه اختصاصی">
					</div>
					<div class="form-group">
						<input name="phone_number" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="شماره موبایل">
					</div>
					<button type="submit" class="btn btn-primary btn-feature btn-red center-block mt-30">تایید</button>
				</form>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
	<div class="col-md-6 col-sm-12 col-xs-12 footer-phone-p center-block pt-15" style="margin-top:18px;">
		<ul class="lst-ul lst-ul-item" style="margin-right:-18px;">
			<li class="footer-lst ma-fo"><a href="#" style="color:#ee0505;">راهنمای جیبین</a></li>
			<li class="footer-lst ma-fo"><a href="#" style="color:#ee0505;">قوانین و مقررات</a></li>
			<li class="footer-lst ma-fo"><a href="#" style="color:#ee0505;">شرایط استفاده</a></li>
			<li class="footer-lst ma-fo"><a href="#" style="color:#ee0505;">تماس با پشتیبانی</a></li>
		</ul>
	</div>
</div>
{% endblock %}