{% extends 'appearances/default/site/base.html' %}
{% load staticfiles %}

{% block body-class %}background-image: none;{% endblock %}

{% block container %}
<div class="container">
	<div class="row mt-50">
		<div class="col-md-3"></div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="inner-reg">
				<form method="POST" action="">
					{% csrf_token %}
					{% if user.profile.avatar %}
						<img src="/media/{{user.profile.avatar}}" alt="gbin" class="img-responsive img-circle img-feature-p border-re center-block">
					{% else %}
						<img src="{% static 'appearances/default/site/image/55.jpg' %}" alt="gbin" class="img-responsive img-circle img-feature-p border-re center-block">
					{% endif %}
					<h4 class="cl-title cl-00 pb-40">صفحه پرداخت {{user.username}}</h4>
					<div class="pay-info">
						{% if messages %}
							{% for message in messages %}
								<h4 class=" text-center {% if message.tags %} {{ message.tags }}" {% endif %}>{{ message }}</h4>
							{% endfor %}
						{% endif %}
						{% if target %}
						<p> هدف : <span class="w-b">{{target.title}} </span></p>
						<!--<a class="btn btn-primary btn-list">لیست حامیان من</a>-->
						<div class="progress">
							<div class="progress-bar f-right cl-gr-red" style="width:{{target.percentage}}%">{{target.percentage}}%</div>
						</div>
						<p class="f-13 tar">{{target.total_paid}} تومان از {{target.amount}} تومان</p>
						{% endif %}
						<div class="form-group mt-30">
							<input name="amount" type="number" class="form-control" id="exampleInputPassword1" placeholder="مبلغ مورد نظر خود را به ریال وارد کنید(حداقل 1000 تومان)">
						</div>
						<div class="form-inline">
							<div class="form-group f-right pb-15">
								<input type="text" class="form-control" id="donor_name" placeholder="نام کاربری یا ایمیل(اختیاری)" name="donor_name">
							</div>
							<div class="form-group f-left pb-15">
								<input type="text" class="form-control" id="donor_phone_number" placeholder="شماره موبایل(اختیاری)" name="donor_phone_number">
							</div>
						</div>
						<div class="form-group">
							<input type="text" name="donor_description" class="form-control" style="min-height:70px;" aria-describedby="emailHelp" placeholder="توضیحات">
						</div>
					</div>
					<div class="checkbox">
						<input name="stream_credentials" type="checkbox" checked><label class="mr-30">نام شما و مبلغ حمایت در پخش زنده نمایش داده شود.</label>
					</div>
					<div class="checkbox disabled">
						<input name="list_credentials" type="checkbox" checked><label class="mr-30">نام شما و مبلغ حمایت در لیست حامیان نمایش داده شود.</label>
					</div>
					<div class="checkbox">
						<input name="stream_description" type="checkbox" checked><label class="mr-30">توضیحات در پخش زنده نمایش داده شود.</label>
					</div>
					<button type="submit" class="btn btn-primary btn-feature btn-red center-block pay-pos">پرداخت</button>
				</form>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
{% endblock %}