{% extends 'appearances/default/site/base.html' %}
{% load staticfiles %}

{% block container %}
<div class="container">
	{% include 'appearances/default/site/widgets/nav_top.html' %}
	<div class="row">
		<div class="col-md-12 col-xs-12 col-sm-12">
			<div class="div-banner mt-15">
				<img src="{% static 'appearances/default/site/image/2.jpg' %}" alt="game-stream" class="img-responsive img-rounded banner">
				<div class="text-block">
				</div>
				<div class="text-image">
					<p class="f-28">{{config.BANNER_TITLE}}</p>
					<p class="f-20">{{config.BANNER_SUB_TITLE}}</p>
					<a href="{% url 'register-user' %}" class="btn btn-default btn-red btn-ban mt-15 center-block" type="">همین الان شروع کنید</a>
					<h5 class="h5h"><a href="#">ما چه کار می‌کنیم؟</a></h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="do-text">
			<h2 class="">ما چه کار می‌کنیم؟</h2>
			<p>{{config.ABOUT_US}}</p>
		</div>
	</div>
	<div class="row sp10">
		<div class="col-md-12">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<a href="{{config.MAIN_BUTTON_LINK_3}}" class="btn btn-default help-btn btn-red center-block sp10 mt-10">{{config.MAIN_BUTTON_TITLE_3}}</a>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<a href="{{config.MAIN_BUTTON_LINK_2}}" class="btn btn-default help-btn btn-red center-block sp10 mt-10">{{config.MAIN_BUTTON_TITLE_2}}</a>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<a href="{{config.MAIN_BUTTON_LINK_1}}" class="btn btn-default help-btn btn-red center-block sp10 mt-10">{{config.MAIN_BUTTON_TITLE_1}}</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="do-text">
			<h3 class="sub-bcl-red center-block">مزیت‌های جیبین</h3>

			<!--------------->
			<div class="col-md-6 col-xs-12 col-sm-12 f-right pb-15">
				<div class="sp20">
					<img src="{% static 'appearances/default/site/image/4.png' %}" class="img-responsive center-block" alt="">
					<h4 class="cl-red tar">درگاه اختصاصی پرداخت</h4>
					<p>درگاه پرداخت اختصاصی با آدرس و ظاهر گرافیکی دلخواه خود را بسازید و با اشتراک‌گذاری آن در استریم‌های خود از مخاطبان حمایت مالی دریافت کنید.</p>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 col-sm-12 f-right pb-15">
				<div class="sp20">
					<img src="{% static 'appearances/default/site/image/5.png' %}" class="img-responsive center-block" alt="">
					<h4 class="cl-red tar">تسویه حساب روزانه</h4>
					<p>برای تسویه مبلغ حمایت، نیاز به ثبت درخواست یا پیگیری آن نیست، جی‌بین از سرویس‌هایی استفاده می‌کند که روزانه و خودکار با کاربران خود تسویه می‌کنند.</p>
				</div>
			</div>
			<!--------------->
		</div>
	</div>
	{% include 'appearances/default/site/widgets/footer.html' %}
</div>
{% endblock %}