{% extends 'appearances/default/site/base.html' %}
{% load staticfiles %}

{% block container %}
<div class="container">
	<div class="row mt-50">
		<div class="col-md-3"></div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			<div class="inner-reg inner-reg-cl">
				<img src="{% static 'appearances/default/site/image/logo-fa.png' %}" alt="gbin" class="img-responsive center-block sha-lg">
				<h4 class="cl-title-o pb-40">فرم ثبت نام در جیبین</h4>
				{% if messages %}
					{% for message in messages %}
						<h4 class=" text-center {% if message.tags %} {{ message.tags }}" {% endif %}>{{ message }}</h4>
					{% endfor %}
				{% endif %}
				<form method="POST" action="">
					{% csrf_token %}
					<div class="form-group">
						<input name="username" value="{{form.username.value.0}}" type="text" class="form-control" aria-describedby="emailHelp" placeholder="نام کاربری" required>
					</div>
					<div class="form-group">
						<input name="email" value="{{form.email.value.0}}" type="email" class="form-control" aria-describedby="emailHelp" placeholder="ایمیل" required>
					</div>
					<div class="form-group">
						<input name="password" type="password" class="form-control" placeholder="رمز ورود" required>
					</div>
					<div class="form-group">
						<input name="confirm_password" type="password" class="form-control" placeholder="تکرار رمز ورود" required>
					</div>
					<button type="submit" class="btn btn-primary btn-feature btn-red center-block mt-30">ثبت نام</button>
					<h4 class="log-cl mt-10 h5h"><a href="{% url 'login-user' %}">ورود</a></h4>
				</form>
			</div>
		</div>
		<div class="col-md-3"></div>
		<!--<div>{{form.as_p}}</div>-->
	</div>
	<div class="col-md-6 col-sm-12 col-xs-12 footer-phone-p center-block pt-15" style="margin-top:18px;">
		<ul class="lst-ul lst-ul-item" style="margin-right:-18px;">
			<li class="footer-lst ma-fo"><a href="#" style="color:#ee0505;">راهنمای جیبین</a></li>
			<li class="footer-lst ma-fo"><a href="#" style="color:#ee0505;">قوانین و مقررات</a></li>
			<li class="footer-lst ma-fo"><a href="#" style="color:#ee0505;">شرایط استفاده</a></li>
			<li class="footer-lst ma-fo"><a href="#" style="color:#ee0505;">تماس با پشتیبانی</a></li>
		</ul>
	</div>
</div>
{% endblock %}