{% extends 'appearances/default/site/base.html' %}
{% load staticfiles %}

{% block container %}
<div class="container">
	{% include 'appearances/default/site/widgets/nav_top.html' %}
	<div class="row mt-50">
		<div class="col-md-1"></div>
		<div class="col-md-10 col-sm-12 col-xs-12">
			<div class="inner-reg-temp inner-reg-cl">
				<h4 class="tar pb-15">{{ flatpage.title }}</h4>
				<p class="taj">{{ flatpage.content }}</p>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% include 'appearances/default/site/widgets/footer.html' %}
</div>
{% endblock %}